body {
  font-family: 'Work Sans', sans-serif;
  background-color: white;
  color: #1B1F3B;
}

.bg-orange {
  background-color: #ff6b46;
}

.bg-blue {
  background-color: #0d6fec;
}
.txt-blue {
  color: #375ABB;
}
.txt-red {
  color: #FB8F8A;
}
.txt-white {
  color: white;
}
.font-bold {
  font-weight: 800;
}
.font-semi-bold {
  font-weight: 700;
}
.font-light {
  font-weight: 200;
}
.box-title {
  font-size: 24px;
}
.box-title-side {
  font-size: 20px;
}
.highlight {
  background-color: #FB8F8A;
  color: white;
  padding:5px;
}
.footer {
  left: 0;
  width: 100%;
  background-color: white;
  color: white;
}
.nav-pills .nav-link.active {
  border-bottom: solid 2px #FB8F8A;
  background-color: transparent;
  color: #1B1F3B;
  border-radius: 0;
}
.step-case {
  width: 70%;
}

.home-message .title {
  font-size: 48px; 
}
.home-message p {
  font-size: 24px;
  line-height: 50px;
}
.manifeste p {
  font-size: 18px;
  line-height: 35px;
  text-align: justify;
}
.que-faire h3 {
  font-weight: 600;
}
.rounded-50 { 
  border-radius: 50px;
}
.border-top-large {
  border-top: solid 10px #FB8F8A;
}

.navbar-brand {
  font-size: 18px;
  font-weight: 700; /* semibold */
}

h1 {
  font-size: 70px;
  font-weight: 700; /* semibold */  
}

h2 {
  font-size: 24px;
  font-weight: 700; /* semibold */  
}

p {
  font-size: 14px;
  font-weight: 500;
}

.appel-title {
  font-size: 22px;
  font-weight: normal;
  color: white;
  background-color: #ff6b46;
}

.highlight-blue {
  color: #0d6fec;
}

.highlight-orange {
  color: #ff6b46;
}

.lead {
  font-size: 22px;
  font-weight: 500; /* medium */
}

a {
  color: rgb(27, 31, 59);
  text-decoration: underline;
  text-decoration-color: #ff6b46;
}

a.nav-link {
  text-decoration: none;
}

a.btn {
  text-decoration: none;
}

.underline-blue {
  text-decoration: underline;
  text-decoration-color: #0d6fec;
  text-decoration-thickness: 3px;
}

.overline-blue {
  text-decoration: overline;
  text-decoration-color: #0d6fec;
  text-decoration-thickness: 3px;
}